<h1>   <%= image_tag "mary.png", {class: "avatar-large", alt: "user"}%></h1>


<div class="restaurant center">
<%= simple_form_for([@match_list, @evaluation]) do |f| %>
<%= f.input :decision , input_html: { value: @decision} %>
<%= f.button :submit, 'Confirm your FoodBuddy!', class: 'btn btn-primary' %>
<% end %>
</div>
