/* --- Fonts --- */
body {
  font-family: $base-font;
  padding-bottom: 200px;
  margin: 0;
  background: #F4F4F4;
  background: image-url('pattern.png');

}
h1, h2 {
  font-family: $title-font;
  color: $green;
}
h3 {
  font-family: $base-font;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}
.list-inline li {
  display: inline-block;
}

/*TODO: add css to display 3 aligned cards*/
.cards {
  display: flex;
  justify-content: space-between;
}
.card {
  flex: 0 0 32%;
}

