.no-invitations {
  height: 20vh;
  margin: 0 auto;
  padding: 50px;
}

.no-invitations-message {
  width: 30%;
  background-color: white;
  border-radius: 2px;
  margin: 0 auto;
  padding: 100px 0px;
  box-shadow: 8px 8px 6px #c4c4c4;

}
