 <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h2 class="white-text">Dinner Date</h2>
                <p class="grey-text text-lighten-4">Let's go for food with a new friend</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Meet the rockstars who build this application</h5>
                <ul class="list-inline">
                  <li><%= image_tag("lucas.png", class: "avatar-large") %></li>
                  <li><%= image_tag("george.png", class: "avatar-large") %></li>
                  <li><%= image_tag("ric.png", class: "avatar-large") %></li>
                  <li><%= image_tag("mary.png", class: "avatar-large") %></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Le Wagon Batch 71 "aka the most awesome batch ever"
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
        </footer>

