<div class="wrapper" id="home-banner" style="background-image: url(<%= image_path(@image) %>);">
  <div class="search-form text-center">
    <div class="container">
      <%= render 'shared/search_form' %>
    </div>
  </div>
</div>
