
<div class="banner" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(<%= image_path(@image) %>);">
      <div class="banner-content text-center">
      <h1>Find Your #Food Buddy</h1>
            <h3>Find your place first</h3>
      <%= render 'shared/search_form' %>
  </div>
</div>

<% content_for(:special_navbar_class) do %>
  <%= 'navbar-wagon-fixed' %>
<% end %>

<% content_for(:alert_class) do %>
  <%= 'alert-fixed' %>

<% end %>


