<div class="restaurant-card text-center">

  <h2>Your reservation has been confirmed!</h2>
  <div class="div-spacer"></div>
  <div>
    <%= link_to 'Back to home page', root_path, class: 'btn btn-success' %>
  </div>
</div>


