<div class="container">
    <%= render 'shared/search_form' %>
    <h2><%= @food_type %></h2>
    <div class="row">
      <%= render @restaurants %>


      <!-- build the html for listing cards and titles -->
      </div>

</div>
