
<h2> <%= @restaurant.name %>
</h2>

<ul>
<li>
  <%= @restaurant.food_type %>
</li>
<li>
 <%=  @restaurant.address %>
</li>
<li>

</li>
</ul>


<ul> <% match_lists.each do |i| %>

  <li>
    match_lists.username
  </li>
</ul>
