// #home-banner {
//   color: white;
//   height: 100vh;
//   width: 100%;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// .search-form {
//   position: absolute;
//   top: 50%;
// }
.banner {
  color: white;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}
.banner-content {
  position: absolute;
  top: 300px;
}
