// #home-banner {
//   color: white;
//   height: 100vh;
//   width: 100%;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// .search-form {
//   position: absolute;
//   top: 50%;
// }
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}
.banner-content {
  position: absolute;
  top: 250px;
  margin: auto;
}
.map-card {
  display: flex;
  align-items: center;

  margin: 20px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px #b3b3b3;
}
.list-inline > li {
  display: inline-block;
  padding: 0px 0px;
}

.list-inline {
  padding-left: 0px;

}
#movies {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}

.photo_movie {
  width: 400px
}

.social_links {
  font-size: 12px;
}

.social_links i {
  display: block;
  font-size: 20px;
}
#map {
  height: 200px;
  min-width: 100%;
  margin: 15px;
}

#map-label-container {
  margin: 20px 0 20px 0;
  background-color: white;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #B3B3B3;
}
#description-map {
  padding: 10px;
}


