.btn-go {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
  background: #008fd5;
  padding: 10px 50px 10px 50px;
  text-decoration: none;
  transition: background 0.3s ease;
  margin-top: 20px;
}

.btn-forgot {
  color: blue;
  text-decoration: underline;
  background-color: transparent;
  border: none;
}

.btn-go:hover {
  opacity: 1;
    background: #009ce9;
    text-decoration: none;
    color: white;
}

.btn-success {
  border: none;
  background: $gray-dark;
  color: white;
  border-radius: 5em;
  padding: 5px 15px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 14px;
  &:hover {
    color: white;
    border: none;
    background-color: darken($gray-dark, 25%);
    background-transparency: 0.5;

  }
}

.btn {
  min-width: 100px;
  line-height: 1.4;
}

.btn-facebook {
  border: none;
  background-color: #3b5998;
  color: white;
  border-radius: 5em;
  padding: 5px 15px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 14px;
  &:hover {
    color: white;
    border: none;
    background-color: darken(#3b5998, 15%);
    background-transparency: 0.5;
  }
}
