.search-form {
  margin-top: 10px;
}
.search-labels {
  margin: 0;
}

.search-labels-2 {
  margin: 10px;
}
.form_datetime {
  color: black !important;
}

.slider {
  margin-top: 20px;
}
.pointer:hover {
  cursor: pointer;
}

.input {

    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input, label {
    display:block;
    font-size: 16px;
    padding: 10px;
}


#range-value{
    width: 50%;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }





