// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";
@import "bootstrap-datetimepicker";








// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";



ul {
  padding-left: 0px;
  list-style: none;
}

.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}


.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}


.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}
// fieldset {
//       border: 0;
//     }
// label {
//   display: block;
//   margin: 10px 0 0 0;
// }
    .overflow {
      height: 300px;
    }
.pref-label {
  text-align: center;
  display: inline-block;
}
#age_slider {
  width: 50%;
  margin: 0 auto;
}
#pref_slider {
  width: 50%;
  margin: 0 auto;
}
.ui-slider-handle {
  width: 50%;
  margin: 0 auto;
}
.label-slider {
  text-align: center;
}
.label-range-pref {
  text-align: center;
}
